html,body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: arial, sans-serif;
  height: 100%;
}

header {
  padding: 1em;
  background-color: rgb(0,154,218);
  border-bottom: 5px solid rgb(42,126,161);
}

header h1 {
  margin: 0;
  color: #222;
}

header h1 a, header h1 a:hover {
  text-decoration: none;
  color: #222;
}

nav {
  padding: 1em 1em 0 1em;
}

section {
  padding: 1em;
  height: 100%;
}

table.fixed {
  display: fixed;
  border: 1px solid #ccc;
  border-collapse: collapse;
}

table.fixed th {
  background-color: #ddd;
}

table.fixed td, table.fixed th {
  border-bottom: 1px solid #ccc;
  padding: 0.25em;
  text-align: right;
}

table.fixed tr:nth-child(even) {
  background-color: #efefef;
}

table.fixed td input[type=text] {
  width: 4em;
  text-align: right;
}

.notice {
  border: 2px solid #aa0;
  background-color: #dd0;
  padding: 0.5em;
  margin-bottom: 1em;
}

.error, .errors {
  border: 2px solid #f00;
  background-color: #faa;
  padding: 0.5em;
  margin-bottom: 1em;
}

.errors {
  padding: 0 1em;
}

input[type=text], input[type=email], input[type=password] {
  width: 10em;
  font-size: 1em;
  border: 1px solid #ccc;
}

.group label{
  display: block;
}

.group .example {
  font-size: 0.9em;
  font-style: italic;
  color: #aaa;
}

footer {
  padding: 1em;
  border-top: 5px solid #aaa;
  background-color: #efefef;
  color: #888;
  height: 1.5em;
}

footer .name {
  font-weight: bold;
  float: left;
  margin: 0;
  padding:0;
}

footer .details {
  float: right;
  margin-top: 2px;
}

#author {
  font-style: italic;
  font-size: 0.8em;
  float: left;
  margin: 0 1em;
}

#date {
  font-style: italic;
  font-size: 0.8em;
  float: left;
}

#map_canvas {
  width: 100%;
  height: 100%;
}

#routes li {
  padding: 0.25em 0.5em;
}

#routes li:hover {
  background-color: #ffa;
  cursor: pointer;
}

#routes .icon, #other_trains .icon {
  display: inline-block;
  width: 0.75em;
  height: 0.75em;
  margin-right: 0.5em;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.title {
  font-weight: bold;
  font-size: 1.1em;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1em;
}

#arrivals, #departures {
  height: 5em;
  width: 20em;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1em;
}

#other_trains {
  height: 10em;
  width: 20em;
  overflow: auto;
}
